<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Platform</title>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/content/bootstrap.css")
    @RenderSection("stylesection", false)

    @Styles.Render("~/content/stickyfooter.css")
    @Styles.Render("~/content/bootstrap-responsive.css")
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jQuery-1.7.1.js")
    @Scripts.Render(
            "~/Scripts/jquery-ui-1.10.2.custom.js",
            "~/Scripts/jquery-migrate-1.1.1.js",
            "~/Scripts/bootstrap.js",
            "~/Scripts/less.js",
            "~/Scripts/dust.js",
            "~/Scripts/underscore.js",
            "~/Scripts/dataset.js",
            "~/Scripts/sdo.js",
            "~/Scripts/qi.js",
            "~/Scripts/dao.js",
            "~/Scripts/bam.js")
   @Scripts.Render("~/Dao/Proxies", "~/Dust/Templates")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                @*<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                <a class="brand" href="#">Platform</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li id="navHome"><a href="/">Home</a></li>
                        <li id="navAbout"><a href="/home/about">About</a></li>
                        
                        @if(Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li id="navContact"><a href="/home/contact">Manage</a></li>                        
                        }
                    </ul>

                    @Html.Partial("_LoginPartial")
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container" id="wrap">
        @RenderBody()
    </div>

    @*@Html.Partial("_Row")*@

    <div id="footer">
        <div class="container">
            <p class="muted credit">&copy; @DateTime.Now.Year - My Bryan.Apellanes.Platform Application</p>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
